body{
	font-family:sans-serif;
}

.header{
	border:1px solid black;
	display:inline-block;  
	text-align:center;
	width:100%; 
}

.navbutton{
	float:left; 
	padding:3px;
	border:1px solid grey;  
}
.container{
	border:1px solid blue;
	width:100%;
	height:93vh; 
	position:relative;  
	overflow:hidden;
}
.navbar{ 
	left:-40vh;
	width:40vh;
	border:1px solid red;
	position:absolute;   
	height:100%; 
	z-index:1; 
}
.todo{
	margin:auto; 
	position:relative; 
	border:1px solid green;
	width:70%;
	height:100%;   
}
